{% extends "base.html" %}

{% block content %}
{% if topics %}
	<h2> Choose the topic to see submissions </h2>
	<table border="1px">
	{% for topic in topics %}
		<tr><td><a href="{% url 'reviewr-assgn' %}{{confrenceid}}/{{topic.id}}">{{topic.topicName}}</a></td></td>
	{% endfor %}
	</table>
{% endif %}
<br>
{% if formset == -1 %}
		<h2> No Submissions to assign in this topic </h2>
{% else %}
	{% if formset %}
		<h2> Following are the Submissions </h2>
		<form method="post" action="{% url 'reviewr-assgn' %}{{confrence.id}}/">
		{% csrf_token %}

		{{ formset.management_form }}
				<table border="1px">
					<tr> 
						<td>Submission Name</td>
						<td>Submission Type</td>			
						<td>Download Link</td>
						<td>Reviewer</td>
					</tr>
				{% for form in formset %}
					<tr>
						<td>{{form.title}}</td> 
						<td>{{form.type}}</td>
						<td><a href="{% url 'view-file' %}{{form.id.value}}">Download</td>
						{{form.id}}
						<td> {{ form.reviewr }} </td>
					</tr>
				{% endfor %}		
				</table>
		<input type="submit" value="Assign" />
		</form>
	{% endif %}
{% endif %}
{% endblock %}