



<!DOCTYPE HTML>
<!--
    Prism by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load staticfiles %}
<html>
    <head>
        <title>Easy Chair Assign Reviewers </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>
    <body>

        <!-- Banner -->
            <section id="banner">
                <div class="inner split">
                    <section>
                        <h2> EasyChair Assign Reviewer to Submissions </h2>
                    </section>
                    <section>
                        <ul class="actions">
                            <li><a href="/user/logout" class="button special">Logout</a></li>
                        </ul>
                    </section>
                </div>
            </section>

        <!-- One -->
            <section id="one" class="wrapper">
                <div class="inner split">
                    <section>
                        
                       
                       {% block content %}
						{% if topics %}
							<h2> Choose the topic to see submissions </h2>
							<table border="1px">
							{% for topic in topics %}
								<tr><td><a href="{% url 'reviewr-assgn' %}{{confrenceid}}/{{topic.id}}">{{topic.topicName}}</a></td></td>
							{% endfor %}
							</table>
						{% endif %}
						<br>
						{% if formset == -1 %}
								<h2> No Submissions to assign in this topic </h2>
						{% else %}
							{% if formset %}
								<h2> Following are the Submissions </h2>
								<form method="post" action="{% url 'reviewr-assgn' %}{{confrence.id}}/">
								{% csrf_token %}

								{{ formset.management_form }}
										<table border="1px">
											<tr> 
												<td>Submission Name</td>
												<td>Submission Type</td>			
												<td>Download Link</td>
												<td>Reviewer</td>
											</tr>
										{% for form in formset %}
											<tr>
												<td>{{form.title}}</td> 
												<td>{{form.type}}</td>
												<td><a href="{% url 'view-file' %}{{form.id.value}}">Download</td>
												{{form.id}}
												<td> {{ form.reviewr }} </td>
											</tr>
										{% endfor %}		
										</table>
								<input type="submit" value="Assign" />
								</form>
							{% endif %}
						{% endif %}
						{% endblock %}

                        
                    </section>
                    
                </div>
            </section>

        
        <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Untitled. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
                </div>
            </footer>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>

    </body>
</html>