


<!DOCTYPE HTML>
<!--
    Prism by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load staticfiles %}
<html>
    <head>
        <title>Easy Chair Review Assignment </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>
    <body>

        <!-- Banner -->
            <section id="banner">
                <div class="inner split">
                    <section>
                        <h2> Edit Reviewer
                        	<br></h2>
                        	<h3> <font color="white"> </font></h3>
                    </section>
                    <section>
                        <p></p>
                        <ul class="actions">
                            <li><a href="/user/logout" class="button special">Logout</a></li>
                        </ul>
                    </section>
                </div>
            </section>

        <!-- One -->
            <section id="one" class="wrapper">
                <div class="inner split">
                    <section>
                    	

							{% block content %}
							Welcome user {{request.user.username}}
							<h2>Edit Confrence {{confrence}}</h2>
							{% if form.errors %}
							{{topicformset.errors}}
							{% endif %}

							<form method="post" action="{% url 'confrence-edit' %}{{confrence.id}}/">
							{% csrf_token %}
							{{ topicformset.management_form }}
							<table border='1px'>
								<tr><td>{{confrenceform}}</td></tr>
								{% for form in topicformset %}         
								      {{ form.id }}
								<tr><td>{{ form }}</td></tr>
								{% endfor %}
							</table>	    
							<input type="submit" value="Save" />	
							</form>

							{% endblock %}

                    </section>
                    <section>

                        <a href="{% url 'user-home' %}" class="button special">User Home</a>
                    	<a href="{% url 'confrence-home' %}{{confrence.id}}" class="button special">Confrence Home</a>
                    </section>
                    
                </div>
            </section>

        
        <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Untitled. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
                </div>
            </footer>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>

    </body>
</html>