{% extends "base.html" %}

{% block content %}
{% if confrence %}
	
	<h2>Confrence on {{confrence.confrenceName}} </h2>
	<br>
	<h3> Important Details of confrence </h3> 
	<table>
		<tr>
			<td>Confrence Name:</td>
			<td>{{confrence.confrenceName}}</td>
		<tr>
			<td>Starting Date:</td>
			<td>{{confrence.startDate}}</td>
		<tr>
			<td>End Date: </td>
			<td>{{confrence.endDate}}</td>
		<tr>
			<td>Organizer Name:</td>
			<td>{{organizer.first_name}} {{organizer.last_name}}</td>
		<tr>
			<td>Organizer Email:</td>
			<td>{{organizer.email}}</td>
	</table>
	<br>
	
	{% if topics %}
		<h3> Topics covered in confrence </h3>
		<table>
		{% for topic in topics %}
			<tr><td>{{topic.topicName}}</td></tr>
		{% endfor %}
		</table>
	{% else %}
		<h3> None of the topics has been added by organizer </h3>
	{% endif %}
	
	
	<br>
	{% if is_auth %}
		<h3><a href="{% url 'sub-upload' %}{{confrence.id}}/1">Paper Submission for conference</a><h3><br>
		<h3><a href="{% url 'sub-upload' %}{{confrence.id}}/2">Poster Submission for conference</a><h3><br>
		<a href="{% url 'view-file1' %}{{confrence.id}}">view your submission</a>
	{% endif %}
	{% if edit_option %}
	{% if authors %}
		<h3> Authors in confrence </h3>
		<table>
		{% for author in authors %}
			<tr><td>{{author.first_name}}</td></tr>
		{% endfor %}
		</table>
	{% else %}
		<h3> None of the Authors has been added by organizer </h3>
	{% endif %}
	
	<br>
	
	<br> 
	{% if reviewrs %}
		<h3>Reviewers in Confrence </h3>
		<table>		
		{% for reviewr in reviewrs %}
			<tr><td>{{reviewr.first_name}}</td></tr>
		{% endfor %}
		</table>
	{% else %}
		<h3> none reviewers </h3>
	{% endif %}
	<!-- Edit option only for organizer of confrence --!>
	
		<a href="{% url 'confrence-edit' %}{{confrence.id}}">Edit</a>
		
		<a href="{% url 'reviewr-edit' %}{{confrence.id}}">Add remove Reviewer</a>
	{% endif %}
{% else %}
<h2> Confrence Undefined </h2>
{% endif %}
{% endblock %}
