{% extends "base.html" %}

{% block content %}
<h2> Available Confrences in System are .. <h2>
{% if org_confrences %}
	<h3> Confrence Organized By You </h3>
	<table border = '1px'>
		<tr>
			<td>Confrence</td>
			<td>StartDate</td>
			<td>EndDate</td>
			<td>Register</td>
		</tr>
	{% for org_confrence in org_confrences %}
		<tr>
			<td><a href="{% url 'confrence-home' %}{{org_confrence.id}}">{{org_confrence.confrenceName}}</a></td>
			<td>{{org_confrence.startDate|date:"D d M Y"}}</td>
			<td>{{org_confrence.endDate|date:"D d M Y"}}</td>
			<td><a href="{% url 'confrence-edit' %}{{org_confrence.id}}">Edit</a></td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% if all_confrences %}
	<br>
	<h3> All Confrences </h3>
	<table border = '1px'>
		<tr>
			<td>Confrence</td>
			<td>StartDate</td>
			<td>EndDate</td>
			<td>Register</td>
		</tr>
	{% for all_confrence in all_confrences %}
		<tr>
			<td><a href="{% url 'confrence-home' %}{{all_confrence.id}}">{{all_confrence.confrenceName}}</a></td>
			<td>{{all_confrence.startDate|date:"D d M Y"}}</td>
			<td>{{all_confrence.endDate|date:"D d M Y"}}</td>
			<td><a href="{% url 'confrence-home' %}{{all_confrence.id}}">Veiw</a></td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% endblock %}

