{% extends "base.html" %}

{% block content %}
<h2> Available Confrences in System are .. <h2>
{% if org_confrences %}
	<h3> Confrence Organized By You </h3>
	<table border = '1px'>
		<tr>
			<td>Confrence</td>
			<td>StartDate</td>
			<td>EndDate</td>
			<td>Register</td>
		</tr>
	{% for org_confrence in org_confrences %}
		<tr>
			<td>{{org_confrence.confrenceName}}</td>
			<td>{{org_confrence.startDate|date:"D d M Y"}}</td>
			<td>{{org_confrence.endDate|date:"D d M Y"}}</td>
			<td><a href="{% url confrence-edit %}/{{org_confrence.id}}">Edit</a></td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% if rev_confrences %}
	<br>
	<h3> Confrence Reviewed By You </h3>
	<table border = '1px'>
		<tr>
			<td>Confrence</td>
			<td>StartDate</td>
			<td>EndDate</td>
			<td>Register</td>
		</tr>
	{% for rev_confrence in rev_confrences %}
		<tr>
			<td>{{rev_confrence.confrenceName}}</td>
			<td>{{rev_confrence.startDate|date:"D d M Y"}}</td>
			<td>{{rev_confrence.endDate|date:"D d M Y"}}</td>
			<td>Review</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% endblock %}

